body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        #3f006c,
        #750050,
        #b10042,
        #f7bb38);
        height: 110vh;
}

.iphone{
    margin: auto;
    border: 10px solid black;
    border-radius: 40px;
    width: 320px;
    height: 700px;
    position: relative;
    box-shadow: 0px 20px 15px #33333335;
}

.screen{
    z-index: 10;
    position: absolute;
    background: url(background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.icons{
    margin-top: 40px;
    justify-content: center;
    display: flex;
}

.icons div{
    margin: 10px;
    z-index: 100;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px #33333340;
    cursor: pointer;
    transform: 400ms ease-in-out;
}

.app:nth-child(1){
    background: url(insta.png);
    background-size: cover;
}
.app:nth-child(2){
    background: url(netflix.png);
    background-size: cover;
    background-position: center;
}
.app:nth-child(3){
    background: url(appletv.png);
    background-size: cover;
    background-position: center;
}
.app:nth-child(4){
    background: url(p.png);
    background-size: cover;
}

.app_2_row:nth-child(1){
    background: url(stocks.png);
    background-size: cover;
}
.app_2_row:nth-child(2){
    background: url(facetime.png);
    background-size: cover;
}
.app_2_row:nth-child(3){
    background: url(compass.png);
    background-size: cover;
}
.app_2_row:nth-child(4){
    background: url(itunesstore.png);
    background-size: cover;
}

.app_3_row:nth-child(1){
    background: url(message.png);
    background-size: cover;
}
.app_3_row:nth-child(2){
    background: url(settings.png);
    background-size: cover;
}
.app_3_row:nth-child(3){
    background: url(gamecenter.png);
    background-size: cover;
    background-position: center;
}
.app_3_row:nth-child(4){
    background: url(twitter.png);
    background-size: cover;
    background-position: center;
}

.app_4_row:nth-child(1){
    background: url(safari.png);
    background-size: cover;
    background-position: center;
}
.app_4_row:nth-child(2){
    background: url(map.png);
    background-size: cover;
    background-position: center;
}
.app_4_row:nth-child(3){
    background: url(appstore.png);
    background-size: cover;
}
.app_4_row:nth-child(4){
    background: url(whtsapp.png);
    background-size: cover;
}

.icons div:hover{
    transform: scale(0.8);
}

.notch{
    z-index: 50;
    top: 0;
    left: 62px;
    position: absolute;
    background-color: black;
    width: 200px;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
}

.camera{
    position: absolute;
    bottom: 8px;
    right: 20px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: .2rem solid black;
    background: #447bb5a6;
}

.speaker{
    position: absolute;
    right: 3.9rem;
    width: 7rem;
    height: .6rem;
    background: #33333333;
    border-radius: .2rem;
}